@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* GabAI Start */
.gabAIContainer{
  width: 100% !important;
  height: 100vh !important;
}
.gabAIBackground {
  /* position: relative; */
  width: 100% !important;
  height: 100% !important;
  background-image: url("/GabAI-background.webp");
  
  background-size: cover;
  color: white;
}
.gabAIHandContainer {
  width: 100% !important;
  height: 100% !important;
}
.gabAIHand {
  float: right;
  width: 100% !important;
  height: 100% !important;
  background-image: url("/GabAI-Hand.webp");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55% 105%;
  color: white;
}
.gabAILogo {
  display: inline;
  width: 22vw !important;
  height: auto !important;
}
.gabAIContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70vw !important;
  height: 100% !important;
  font-size: 1.5vw;
}
.gabAIText{
  width: 95%;
  color: #363636;
}
.gabAIContentMobile{
  display: none;
}

/* mobile */
@media screen and (max-width: 700px) {
  .gabAIContainer{
    width: 100% !important;
    height: auto !important;
  }
  .gabAIHand {
    display: none;
  }
  .gabAILogo {
    width: 50vw !important;
  }
  .gabAIContentMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 4vw; */
    /* background-image: url("/GabAI-Hand.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 105%; */
    font-size: 15px;
    }
  .gabAIContentMobileHand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/GabAI-Hand.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 105%;
    font-size: 15px;
    }
    .gabAIText{
    width: 68%;
    color: #363636;
    }
}

/* ipad */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .gabAIContainer {
    height: 60vh !important;
  }
  .gabAIText{
  font-size: 3.2vw;
  color: #363636;
  width: 90% !important;
  }
  .gabAILogo {
    width: 43vw !important;
  }
}
/* GabAI Ends */

.Hero1Container{
  width: 100% !important;
  height: 100vh !important;
}